<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="images/Logo.png"/>

    <link rel="stylesheet" href="https://use.typekit.net/pnq1ezd.css">
    <script src="dist/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat-es5.gzip.js"></script>
    <title><%- pageTitle %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.typekit.net/pnq1ezd.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="dist/js/bootstrap.min.js"></script>

    <script src="index.js"></script>
    <link href="bot.css" rel="stylesheet"/>
</head>
<body>
<header>
    <div>
        <img alt="" src="images/Logo@3x.png">
        <span><%- pageTitle %></span>
    </div>
</header>
<button id="hamburger" onclick="toggleMenu()"><img alt="" src="images/hamburger.png"></button>
<nav>
    <button id="close-menu" onclick="toggleMenu()">X</button>
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="recruitment-tab" data-toggle="tab" href="#recruitment" role="tab"
                   onclick="location.hash = '#recruitment'">
                    <%- menu.recruitment %>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab"
                   onclick="location.hash = '#info'">
                    <%- menu.info %>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab"
                   onclick="location.hash = '#about'">
                    <%- menu.about %>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="qna-tab" data-toggle="tab" href="#qna" role="tab"
                   onclick="location.hash = '#qna'">
                    <%- menu.qna %>
                </a>
            </li>
        </ul>
        <select id="language" name="language" onchange="changeLocale(this)">
            <option value="en-us" <% if(language === "en-us") { %>selected
                    <% } %>
            >English
            </option>
            <option value="fr-fr" <% if(language === "fr-fr") { %>selected
                    <% } %>
            >French
            </option>
            <option value="de-de" <% if(language === "de-de") { %>selected
                    <% } %>
            >German
            </option>
            <option value="it-it" <% if(language === "it-it") { %>selected
                    <% } %>
            >Italian
            </option>
            <option value="pt-pt" <% if(language === "pt-pt") { %>selected
                    <% } %>
            >Portuguese
            </option>
            <option value="es-es" <% if(language === "es-es") { %>selected
                    <% } %>
            >Spanish
            </option>
        </select>
    </div>
</nav>

<div class="top-context">
    <div>
        <h2><%- pageHeader.upperLine %></h2>
        <h1><%- pageHeader.mainLine %></h1>
        <h4><%- pageHeader.lowerLine %></h4>
    </div>
</div>
<div class="main-content">
    <div class="part-left">
        <div class="tab-content" id="tab-content">
            <div class="tab-pane fade" id="recruitment" role="tabpanel" aria-labelledby="recruitment-tab">
                <section class="icons">
                    <img src="images/Circle%20image-0.png">
                    <img src="images/Circle%20image-1.png">
                    <img src="images/Circle%20image-2.png">
                    <img src="images/Circle%20image-3.png">
                    <img src="images/Circle%20image-4.png">
                    <img src="images/Circle%20image-5.png">
                    <img src="images/Circle%20image-6.png">
                </section>
                <article>
                    <% for (var i = 0; i < tabContents.recruitment.length; i++) { %>
                        <% if (tabContents.recruitment[i].type === "headline") { %>
                            <h1><%- tabContents.recruitment[i].text %></h1>
                        <% } else if (tabContents.recruitment[i].type === "subhead") { %>
                            <h2><%- tabContents.recruitment[i].text %></h2>
                        <% } else if (tabContents.recruitment[i].type === "text") { %>
                            <p><%- tabContents.recruitment[i].text %></p>
                        <% } %>
                    <% } %>
                </article>
            </div>
            <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                <article>
                    <% for (var i = 0; i < tabContents.info.intro.length; i++) { %>
                        <% if (tabContents.info.intro[i].type === "headline") { %>
                            <h1><%- tabContents.info.intro[i].text %></h1>
                        <% } else if (tabContents.info.intro[i].type === "subhead") { %>
                            <h2><%- tabContents.info.intro[i].text %></h2>
                        <% } else if (tabContents.info.intro[i].type === "text") { %>
                            <p><%- tabContents.info.intro[i].text %></p>
                        <% } %>
                    <% } %>

                    <% for (var i = 0; i < tabContents.info.steps.length; i++) { %>
                        <div class="step-card">
                            <img alt="" src="images/Circle image-<%=i%>.png">
                            <h1><%=(i + 1)%>. <%- tabContents.info.steps[i].title %></h1>
                            <p><%- tabContents.info.steps[i].text %></p>
                        </div>
                    <% } %>

                    <% for (var i = 0; i < tabContents.info.outro.length; i++) { %>
                        <% if (tabContents.info.outro[i].type === "headline") { %>
                            <h1><%- tabContents.info.outro[i].text %></h1>
                        <% } else if (tabContents.info.outro[i].type === "subhead") { %>
                            <h2><%- tabContents.info.outro[i].text %></h2>
                        <% } else if (tabContents.info.outro[i].type === "text") { %>
                            <p><%- tabContents.info.outro[i].text %></p>
                        <% } %>
                    <% } %>
                </article>
            </div>
            <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                <article>
                    <% for (var i = 0; i < tabContents.about.intro.length; i++) { %>
                        <% if (tabContents.about.intro[i].type === "headline") { %>
                            <h1><%- tabContents.about.intro[i].text %></h1>
                        <% } else if (tabContents.about.intro[i].type === "subhead") { %>
                            <h2><%- tabContents.about.intro[i].text %></h2>
                        <% } else if (tabContents.about.intro[i].type === "text") { %>
                            <p><%- tabContents.about.intro[i].text %></p>
                        <% } %>
                    <% } %>

                    <ol>
                        <% for (var i = 0; i < tabContents.about.steps.length; i++) { %>
                        <li>
                            <h1><%- tabContents.about.steps[i].title %></h1>
                            <% for (var j = 0; j < tabContents.about.steps[i].text.length; j++) { %>
                                <p><%- tabContents.about.steps[i].text[j] %></p>
                            <% } %>
                            <% } %>
                    </ol>
                    <div class="info-area">
                        <img src="images/plasma.png" alt="" class="plasma">
                        <div>
                            <h1><%- tabContents.about.info[0].title %></h1>
                            <p><%- tabContents.about.info[0].text %></p>
                        </div>
                        <div>
                            <h1><%- tabContents.about.info[1].title %></h1>
                            <p><%- tabContents.about.info[1].text %></p>
                        </div>
                    </div>
                    <br>
                    <% for (var i = 0; i < tabContents.about.outro.length; i++) { %>
                        <% if (tabContents.about.outro[i].type === "headline") { %>
                            <h1><%- tabContents.about.outro[i].text %></h1>
                        <% } else if (tabContents.about.outro[i].type === "subhead") { %>
                            <h2><%- tabContents.about.outro[i].text %></h2>
                        <% } else if (tabContents.about.outro[i].type === "text") { %>
                            <p><%- tabContents.about.outro[i].text %></p>
                        <% } %>
                    <% } %>
                </article>
            </div>
            <div class="tab-pane fade" id="qna" role="tabpanel" aria-labelledby="qna-tab">
                <h1><%- tabContents.qna.title %></h1>
                <section id="questions-and-answers">
                    <article>
                        <% for (var i = 0; i < tabContents.qna.intro.length; i++) { %>
                        <% if (tabContents.qna.intro[i].type === "headline") { %>
                            <h1><%- tabContents.qna.intro[i].text %></h1>
                        <% } else if (tabContents.qna.intro[i].type === "subhead") { %>
                            <h2><%- tabContents.qna.intro[i].text %></h2>
                        <% } else if (tabContents.qna.intro[i].type === "text") { %>
                            <p><%- tabContents.qna.intro[i].text %></p>
                        <% } %>
                    <% } %>
                    <br>
                    <% for (var i = 0; i < tabContents.qna.items.length; i++) { %>
                        <details class="question">
                            <summary><%- tabContents.qna.items[i].q %></summary>
                            <% for (var j = 0; j < tabContents.qna.items[i].a.length; j++) { %>
                                <p><%- tabContents.qna.items[i].a[j] %></p>
                            <% } %>
                        </details>
                    <% } %>
                    <br>
                    <% for (var i = 0; i < tabContents.qna.outro.length; i++) { %>
                        <% if (tabContents.qna.outro[i].type === "headline") { %>
                            <h1><%- tabContents.qna.outro[i].text %></h1>
                        <% } else if (tabContents.qna.outro[i].type === "subhead") { %>
                            <h2><%- tabContents.qna.outro[i].text %></h2>
                        <% } else if (tabContents.qna.outro[i].type === "text") { %>
                            <p><%- tabContents.qna.outro[i].text %></p>
                        <% } %>
                    <% } %>
                    </article>
                </section>
            </div>
        </div>
    </div>
    <div class="part-right">
        <div class="get-started desktop">
            <button onclick="showBot()"><%= getStarted.buttonText %></button>
        </div>
        <article>
            <% for (var i = 0; i < getStarted.parts.length; i++) { %>
                <% if (getStarted.parts[i].type === "headline") { %>
                    <h1><%- getStarted.parts[i].text %></h1>
                <% } else if (getStarted.parts[i].type === "subhead") { %>
                    <h2><%- getStarted.parts[i].text %></h2>
                <% } else if (getStarted.parts[i].type === "text") { %>
                    <p><%- getStarted.parts[i].text %></p>
                <% } %>
            <% } %>
        </article>
    </div>
</div>

<div class="get-started mobile ">
    <button onclick="showBot()"><%- getStarted.buttonText %></button>
</div>

<div class="panel">
    <header>
        <h1><%- bot.panelTitle %></h1>
        <button class="close-button" onclick="hideBot()">X</button>
    </header>
    <div id="webchat" role="main" watermark="false"></div>
</div>

<script>
    switch (location.hash) {
        case "#recruitment":
            $('#recruitment-tab').click();
            break;
        case "#info":
            $('#info-tab').click();
            break;
        case "#about":
            $('#about-tab').click();
            break;
        case "#qna":
            $('#qna-tab').click();
            break;
        default:
            $('#recruitment-tab').click();
    }
</script>
</body>
</html>
